{% extends 'base.html' %} 
{% block content %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="static/img/personal.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h3>NWIZUGBE SAMSON</h3>
									<h4>Junior Data Analyst</h4>
									<p>Interpreting and Visualizing Data Using Modern Tools</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 13th December, 1998</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> samson6398@gmail.com</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://github.com/nwizugbesamson"><i class="fa fa-github"></i></a></li>
										<li><a href="https://twitter.com/nsa_samson"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/samson-nwizugbe-a33839147/"><i class="fa fa-linkedin-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>Efficient at displaying and interpreting your data to give customers the best insight into their proposed and running business models. I adapt to new working environments quickly and work well with new teams.</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>35</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>15</h4>
        								<p>Total Clients</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Python<span class="counter">55</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Pandas <span class="counter">75</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2022 to present</p>
										</div>
										<div class="media-body">
											<h4>Upworks</h4>
											<p>Freelance Consultant <br />Remote</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>January to March 2022</p>
										</div>
										<div class="media-body">
											<h4>Udemy</h4>
											<p>100 days of python <br />Angela Yu</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
</section>
<!--================End My Tabs Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Services offered</h2>
			<p></p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					
					<h4>Data visualization</h4>
					<p>Bring your data to life in 2d representations that help you track your business growth better.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					
					<h4>Data Analysis</h4>
					<p>Clean up and generate information from large from large data sets.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					
					<h4>Web Scraping</h4>
					<p>Generate and organise data from commercial and business websites.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Feature Area =================-->
{% endblock %}
