{% extends 'base.html' %} 
{% block content %}
        
<!--================Home Banner Area =================-->
<section class="banner_area">
           
</section>
<!--================End Home Banner Area =================-->


<!--================Feature Area =================-->
<section class="feature_area white_feature p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Services offered</h2>
        			<p></p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					
        					<h4>Data visualization</h4>
        					<p>Bring your data to life in 2d representations that help you track your business growth better.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					
        					<h4>Data Analysis</h4>
        					<p>Clean up and generate information from large from large data sets.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					
        					<h4>Web Scraping</h4>
        					<p>Generate and organise data from commercial and business websites.</p>
        				</div>
        			</div>
        		</div>
        	</div>
</section>
<!--================End Feature Area =================-->
        
{% endblock %}